@use "variables" as *;

.header {
    padding: 1.6rem 4.8rem;
    &--flex {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        &--main {
            color: $red;
            font-size: 2rem;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav {
        &--flex {
            display: flex;
        }

        &-link {
            padding: 0.4rem 4.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            border: 2px solid #000;
            text-decoration: none;
            color: $red;
            cursor: pointer;
            &.active {
                background-color: $red;
                color: white;
            }
        }
    }
}
