@use "variables" as *;

.pizza-form {
    &__form-header {
        font-size: 1.8rem;
        padding-left: 1.6rem;
        margin: 1.2rem 0;
    }
    &__title {
        text-align: center;
        margin: 2.4rem 0;
    }

    &__banner {
        background-image: url("../../Assets/Pizza.jpg");
        width: 100%;
        height: 25rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-label {
        display: block;
        background-color: $red;
        padding: 0.8rem 1.6rem;
        color: white;

        &__header {
            margin-bottom: 0.4rem;
        }
        &__sauce-label {
            display: flex;
            width: 100%;
            margin: 0.8rem 0;
            padding-left: 1.6rem;

            & input {
                margin-right: 1.2rem;
            }
        }
    }
    #special-text {
        width: calc(100% - 3.2rem);
        height: auto;
        margin: 1.2rem 1.6rem;
    }

    & .boolean-switch {
        display: block;
        margin: 1.2rem 1.6rem;
    }

    & select {
        margin: 1.2rem;
        margin-left: 1.6rem;
        width: calc(50% - 2.8rem);
    }

    &__toppings {
        display: flex;
        flex-flow: wrap;
        margin: 1.2rem 0;
        padding-left: 1.6rem;
        justify-content: space-between;
        margin-bottom: 0;

        & label {
            width: calc(50% - 2.4rem);
            display: flex;
            margin-bottom: 1.2rem;

            & input {
                margin-right: 1.2rem;
            }
        }
    }

    &__quanity {
        width: 5rem;
    }

    &__submit {
        width: calc(100% - 6rem);
        outline: none;
        border: none;
        background-color: $red;
        border-radius: 0.5rem;
        color: white;
        font-weight: bold;
    }

    &__order-name {
        width: 100%;
        margin-bottom: 1.2rem;
    }
}

.quanity--container {
    padding: 0.8rem 1.6rem;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.pizza-form__container {
    width: 50%;
    margin: 0 auto;
}

.boolean-switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.6rem;

    & input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
            background: #2196f3;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
        }

        &:checked + .slider:before {
            transform: translateX(1rem);
        }
    }
}
.input-checker {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4rem, 0.3rem);
    width: 15rem;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
        position: absolute;
        content: "";
        height: 1rem;
        width: 1.4rem;
        left: 0.3rem;
        bottom: 0.3rem;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
}
